<p>calculadora works!</p>
<div>
    <h2>Calculadora</h2>
    <div>
      <label>Número 1:</label>
      <input type="number" [(ngModel)]="numero1">
    </div>
    <div>
      <label>Número 2:</label>
      <input type="number" [(ngModel)]="numero2">
    </div>
    <div>
      <button (click)="sumar()">Sumar</button>
      <button (click)="restar()">Restar</button>
      <button (click)="multiplicar()">Multiplicar</button>
    </div>
    <div>
      <h3>Resultado: {{ resultado }}</h3>
    </div>
</div>